div{
    background-color: aquamarine;
    border: 2px solid yellow;
    padding: 15px;
    text-align: center;
    margin: 20px auto;
    width: 400px;
}
text{
    font: bold 30px;
    widows: 100%
}
img{
    height: 300px;
    width: 600px;
}
section{
    align-self: 30px auto;
    margin-right:  10%;
    margin-left: 10%;
}

section{
    color: White;
    font-size: 22px;
}
